@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#task-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#task-form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#task-form button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

#task-form button:hover {
  background-color: #45a049;
}

#task-table {
  width: 100%;
  border-collapse: collapse;
}

#task-table th,
#task-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

#task-table th {
  background-color: #f0f0f0;
}

#task-table td input[type="date"],
#task-table td input[type="time"] {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

#task-table td input[type="date"]:focus,
#task-table td input[type="time"]:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

#task-table td input[type="date"]::-webkit-inner-spin-button,
#task-table td input[type="date"]::-webkit-outer-spin-button {
 
  margin: 0;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #1e87db;
}

.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: green;
  margin-top: 10px;
}
